<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <node pkg="openni2_tracker" type="vision_detect" name="vision_detect_bridge" output="screen" />
    <node pkg="hsr_impedance" type="main" name="hsr_impedance" output="screen" />
<!--
    <node pkg="openni2_tracker" type="hello" name="shakehand_listener" output="screen" />
 -->
<include file="$(find pick_place_bridge)/launch/bringup.launch" />
<include file="$(find reception_robot)/launch/fake_bringup.launch" />

<!--
<include file="$(find hsc3api_bridge)/launch/hsc3api_bridge.launch" />
 -->
</launch>
